<ul class="nav nav-pills">
    <li role="button" id="inli"><a href="/Employee/Index">Schedule</a></li>
    <li role="button" id="vali"><a href="/Employee/VacationRequest">Vacation Request</a></li>
    <li role="button" id="emli"><a href="/Employee/UserProfile">Employee Info</a></li
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Clock <span class="caret"></span>
            <ul class="dropdown-menu">
                <li><a href="/Employee/ClockIn/">Clock In</a></li>
                <li><a href="/Employee/ClockOut/">Clock Out</a></li>
            </ul>
        </a>
    </li>
</ul>

<script type="text/javascript">
    window.onload = function () {
        $("#" + window.location.pathname.substring(10, 12).toLowerCase() + "li").attr("class", "active");
    };
</script>
