
@{
    ViewBag.Title = "Shift View";

    DateTime startOfWeek = DateTime.Today.AddDays(-1 * (int)(DateTime.Today.DayOfWeek));
    DateTime endOfWeek = startOfWeek.AddDays(6);

    string[] days = { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
    string[] shifts = { "Morning", "Evening", "Night" };
}
<div class="container body-content">
    <h2>Employee Shift</h2>

    <ul class="nav nav-pills">
        <li role="button" class="active"><a href="/Employee">Schedule</a></li>
        <li role="button"><a href="#">Vacation Request</a></li>
        <li role="button"><a href="#">Shift Change Request</a></li>
        <li role="button"><a href="#">Employee Info</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Clock <span class="caret"></span>
                <ul class="dropdown-menu">
                    <li><a href="#">Clock In</a></li>
                    <li><a href="#">Clock Out</a></li>
                </ul>
            </a>
        </li>
    </ul>

    <table class="table table-bordered" id="shift_table">
        <thead>
            <tr>
                <th colspan="7">@startOfWeek.ToString("MMM d yyyy") - @endOfWeek.ToString("MMM d yyyy")</th>
            </tr>
            <tr>
                @foreach (string day in days)
            {
                    <th name="weekDay">
                        @day.ToString()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (string shift in shifts)
            {
                <tr>
                    <td colspan="7" height="15">@shift.ToString()</td>
                </tr>
                <tr name="shift">
                    @foreach (string day in days)
                {
                        <td name="day"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


    @section Styles{
        <link href="~/Content/schedule.css" type="text/css" rel="stylesheet" />
    }
