
@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <h2>Employee List</h2>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Employee ID</th>
            <th>Approval Status</th>
        </tr>

        <tr>
            <td>Suh dude</td>
        </tr>
    </table>
</div>
